<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kauri_iot.blue_dimple">
    <application>
        <receiver
            android:name=".Receiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
